<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">หน้าแรก</a>
                <a class="nav-item nav-link" routerLink="/login">เข้าสู่ระบบ</a>
                <a class="nav-item nav-link" routerLink="/register">สมัครสมาชิก</a>
                <a class="nav-item nav-link" routerLink="/part">Part</a>
                <a class="nav-item nav-link" routerLink="/purchase">Purchase</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>