<div class="card">
    <div class="card-header" [title]="title">
        {{ title }}
    </div>
    <div class="card-body">

        <form (submit)="onSubmit()" [formGroup]="form">
            <div class="form-group">
                <label for="product-name">ชื่อสินค้า</label>
                <input formControlName="productName" type="text" class="form-control" id="product-name">
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="product-amount">จำนวนสินค้า</label>
                        <input formControlName="productAmount" type="number" class="form-control" id="product-amount">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="product-price">ราคาสินค้า</label>
                        <input formControlName="productPrice" type="number" class="form-control" id="product-price">
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">
                บันทึกข้อมูล
            </button>
        </form>

    </div>
</div>